In [135]:
%matplotlib inline
import pandas as pd
fname = "SS_DATA.txt"

In [166]:
df = pd.read_csv(fname, sep='\t', header=0)    # narray, index, columns
# df = pd.read_csv(fname, sep='\t')
# df                                           # all of it

In [1]:
# df.describe()
# all but fund and data are categorical

In [147]:
# df.head

In [143]:
# df.info()

In [142]:
# df.dtypes

In [144]:
# df.columns

In [171]:
# df.count()

In [146]:
# len(df.columns) # 10
# rows 338658

In [137]:
# dont select by index numbers, select by column and string match (see below at end)
# ATAT000001 = df.head(1310)   # only ATAT000001
# ATAT000001

In [151]:
# df.values

In [153]:
# df.columns

Index(['org', 'fund', 'program', 'object', 'col', 'mut', 'mud', 'data', 'proj',
       'grnt'],
      dtype='object')

In [155]:
# df.describe()

In [156]:
# e.g. 0.01
pd.set_option('display.precision', 2)

In [69]:
five.describe()

           fund       data
count       5.0       5.00
mean   100000.0  147240.20
std         0.0  149200.11
min    100000.0    2760.00
25%    100000.0    5238.00
50%    100000.0  149494.00
75%    100000.0  227688.00
max    100000.0  351021.00

In [157]:
df.T # Transpose rows and columns

,0,1,2,3,4,5,6,7,8,9,...,338649,338650,338651,338652,338653,338654,338655,338656,338657,338658
org,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,...,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001
fund,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,...,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000
program,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
object,524,651532,642233,BUEXP,521100,651602,EMS,629011,R,6515,...,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP
col,V55_TOTAL,CY_REVBUD,PY1_ACTUAL,V55_TOTAL,PY1_ACTUAL,CY_REVBUD,V55_TOTAL,PY1_ACTUAL,V55_TOTAL,PY1_ACTUAL,...,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD
mut,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,B,B,B
mud,0,0,0,AT_07,0,0,AT_05,0,0,0,...,0,0,0,0,0,0,0,0,0,0
data,5.2e+03,1.5e+05,3.5e+05,2.3e+05,2.8e+03,6.3e+04,7.5e+04,4.7e+05,4.8e+03,3.6e+05,...,1e+06,1.4e+06,-5e+04,1.2e+06,3.5e+05,2.8e+04,0,1.4e+05,1.7e+06,1.2e+06
proj,0,3MFTS2AT01,7AT2WA0001,3MFFA2AT01,0,3MFRM2AT01,0,7AT2PL0001,7AT2PK0001,3MFTS2AT01,...,0,0,0,0,0,0,0,0,0,0
grnt,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,...,CDTREN0000,CDTRBD0000,CDTR000000,CDEDWF0000,CDEDLI0000,CDEDCONP00,CDEDCO0000,CDEDCCNP00,CDEDCC0000,CDEDBD0000

In [158]:
# sorting by axis of 0=rows, 0...n
df.sort_index(axis=0, ascending=True)

,org,fund,program,object,col,mut,mud,data,proj,grnt
0,ATAT000001,100000,0,524,V55_TOTAL,B,0,5.24e+03,0,LALS000000
1,ATAT000001,100000,0,651532,CY_REVBUD,B,0,1.49e+05,3MFTS2AT01,LALS000000
2,ATAT000001,100000,0,642233,PY1_ACTUAL,B,0,3.51e+05,7AT2WA0001,LALS000000
3,ATAT000001,100000,0,BUEXP,V55_TOTAL,B,AT_07,2.28e+05,3MFFA2AT01,LALS000000
4,ATAT000001,100000,0,521100,PY1_ACTUAL,B,0,2.76e+03,0,LALS000000
5,ATAT000001,100000,0,651602,CY_REVBUD,B,0,6.32e+04,3MFRM2AT01,LALS000000
6,ATAT000001,100000,0,EMS,V55_TOTAL,B,AT_05,7.50e+04,0,LALS000000
7,ATAT000001,100000,0,629011,PY1_ACTUAL,B,0,4.67e+05,7AT2PL0001,LALS000000
8,ATAT000001,100000,0,R,V55_TOTAL,B,0,4.84e+03,7AT2PK0001,LALS000000
9,ATAT000001,100000,0,6515,PY1_ACTUAL,B,0,3.55e+05,3MFTS2AT01,LALS000000
10,ATAT000001,100000,0,642,CY_REVBUD,B,0,2.40e+05,7AT2HC0001,LALS000000
11,ATAT000001,100000,0,65,V55_TOTAL,B,0,1.70e+05,3MFRM2AT01,LALS000000
12,ATAT000001,100000,0,6516,V55_TOTAL,B,0,1.70e+05,3MFRM2AT01,LALS000000
13,ATAT000001,100000,0,642233,CY_REVBUD,B,0,1.02e+06,7AT2ES0001,LALS000000
14,ATAT000001,100000,0,6422,V55_TOTAL,B,0,2.42e+05,7AT2HC0001,LALS000000
15,ATAT000001,100000,0,549000,V55_TOTAL,B,0,2.87e+04,0,LALS000000
16,ATAT000001,100000,0,542400,CY_REVBUD,B,0,4.11e+03,0,LALS000000
17,ATAT000001,701000,0,549,PY1_ACTUAL,B,0,-4.00e+00,0,LALS000000
18,ATAT000001,100000,0,BUEXP,PY1_ACTUAL,B,0,-1.00e+02,0,LAASCA0000
19,ATAT000001,100000,0,FTE_TOT,V55_TOTAL,B,AT_01,1.00e+00,0,LALS000000
20,ATAT000001,100000,0,651520,PY1_ACTUAL,B,0,1.55e+03,3MFTS2AT01,LALS000000
21,ATAT000001,100000,0,E,V55_TOTAL,B,AT_06,1.52e+05,0,LALS000000
22,ATAT000001,100000,0,487210,V55_TOTAL,B,AT_10,6.54e+04,0,LALS000000
23,ATAT000001,100000,0,651211,PY1_ACTUAL,B,0,1.64e+03,3MFPD2AT01,LALS000000
24,ATAT000001,100000,0,651512,CY_REVBUD,B,0,3.04e+04,3MFTS2AT01,LALS000000
25,ATAT000001,100000,0,651522,PY1_ACTUAL,B,0,8.30e+04,3MFTS2AT01,LALS000000
26,ATAT000001,100000,0,487210,V55_TOTAL,B,AT_04,0.00e+00,0,LALS000000
27,ATAT000001,100000,0,E,PY1_ACTUAL,B,0,-1.00e+02,0,LAASCA0000
28,ATAT000001,100000,0,48,V55_TOTAL,B,AT_05,7.50e+04,0,LALS000000
29,ATAT000001,100000,0,514540,V55_TOTAL,B,AT_01,5.20e+03,0,LALS000000
...,...,...,...,...,...,...,...,...,...,...
338629,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_09,0.00e+00,0,CDED000000
338630,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_08,-4.10e+04,0,CDED000000
338631,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_07,-1.12e+05,0,CDED000000
338632,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_06,0.00e+00,0,CDED000000
338633,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_05,0.00e+00,0,CDTR000000
338634,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_04,3.00e+04,0,CDED000000
338635,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_03,0.00e+00,0,CDTR000000
338636,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_03,0.00e+00,0,CDED000000
338637,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_02,0.00e+00,0,CDED000000
338638,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_01,0.00e+00,0,CDED000000
338639,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,4.25e+05,0,CDTREN0000
338640,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,1.34e+06,0,CDTRBD0000
338641,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,0.00e+00,0,CDTR000000
338642,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,1.32e+06,0,CDEDWF0000
338643,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,3.18e+05,0,CDEDLI0000
338644,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,9.34e+05,0,CDEDBD0000
338645,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,1.19e+06,0,CDED000000
338646,ZDFS000001,100000,0,BUEXP,PY1_ACTUAL,B,0,1.69e+06,0,CDTR000000
338647,ZDFS000001,100000,0,BUEXP,PY1_ACTUAL,B,0,2.26e+05,0,CDEOWF0000
338648,ZDFS000001,100000,0,BUEXP,PY1_ACTUAL,B,0,3.38e+06,0,CDED000000
338649,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1.02e+06,0,CDTREN0000
338650,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1.40e+06,0,CDTRBD0000
338651,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,-4.96e+04,0,CDTR000000
338652,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1.25e+06,0,CDEDWF0000
338653,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,3.47e+05,0,CDEDLI0000
338654,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,2.80e+04,0,CDEDCONP00
338655,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,0.00e+00,0,CDEDCO0000
338656,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1.40e+05,0,CDEDCCNP00
338657,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1.73e+06,0,CDEDCC0000
338658,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1.20e+06,0,CDEDBD0000

In [75]:
# sorting by axis of 1=columns, 0=rows, False=z_to_a
five.sort_index(axis=1, ascending=False)

,proj,program,org,object,mut,mud,grnt,fund,data,col
0,0,0,ATAT000001,524,B,0,LALS000000,100000,5238.0,V55_TOTAL
1,3MFTS2AT01,0,ATAT000001,651532,B,0,LALS000000,100000,149494.0,CY_REVBUD
2,7AT2WA0001,0,ATAT000001,642233,B,0,LALS000000,100000,351021.0,PY1_ACTUAL
3,3MFFA2AT01,0,ATAT000001,BUEXP,B,AT_07,LALS000000,100000,227688.0,V55_TOTAL
4,0,0,ATAT000001,521100,B,0,LALS000000,100000,2760.0,PY1_ACTUAL

In [89]:
# sort by column name VERY HELPFUL
grnt = df.sort_values(by='grnt', ascending=True)
grnt.head(30)

,org,fund,program,object,col,mut,mud,data,proj,grnt
4423,AUDA000007,311503,0,45,PY1_ACTUAL,B,0,4.50e+03,0,CDAI000000
4720,AUDA000008,401000,0,651,PY1_ACTUAL,B,0,2.54e+04,3MFEB2AU01,CDAI000000
4721,AUDA000008,401000,0,500,PY1_ACTUAL,B,0,3.33e+06,0,CDAI000000
4710,AUDA000008,401000,0,650,V55_TOTAL,B,0,1.46e+04,1LIDC2PDBT,CDAI000000
4668,AUDA000008,401000,0,55,CY_REVBUD,B,0,7.74e+04,0,CDAI000000
4696,AUDA000008,401000,0,642,CY_REVBUD,B,0,2.24e+03,7AU2TR0001,CDAI000000
4694,AUDA000008,401000,0,E,V55_TOTAL,B,0,0.00e+00,7AU2AU0001,CDAI000000
4670,AUDA000008,401000,0,IMS,V55_TOTAL,B,0,0.00e+00,7AU2AU0001,CDAI000000
4671,AUDA000008,401000,0,549,V55_TOTAL,B,0,5.00e+03,0,CDAI000000
4672,AUDA000008,401000,0,40,CY_REVBUD,B,0,3.33e+06,0,CDAI000000
4673,AUDA000008,401000,0,650010,V55_TOTAL,B,0,8.30e+01,1LIDC2GENF,CDAI000000
4674,AUDA000008,401000,0,400001,V55_TOTAL,B,0,2.66e+06,0,CDAI000000
4675,AUDA000008,401000,0,64,V55_TOTAL,B,AU_07,5.00e+05,1GENF2LIDC,CDAI000000
4676,AUDA000008,401000,0,FUEXP,V55_TOTAL,B,0,8.30e+01,1LIDC2GENF,CDAI000000
4677,AUDA000008,401000,0,60,V55_TOTAL,B,0,7.55e+05,0,CDAI000000
4678,AUDA000008,401000,0,MISC,CY_REVBUD,B,0,2.50e+04,0,CDAI000000
4719,AUDA000008,401000,0,6514,PY1_ACTUAL,B,0,2.54e+04,3MFEB2AU01,CDAI000000
4718,AUDA000008,401000,0,64,CY_REVBUD,B,0,2.24e+03,7AU2TR0001,CDAI000000
4717,AUDA000008,401000,0,652,PY1_ACTUAL,B,0,5.80e+05,7MF2AU0001,CDAI000000
4716,AUDA000008,401000,0,E,PY1_ACTUAL,B,0,5.80e+05,7MF2AU0001,CDAI000000
4700,AUDA000008,401000,0,R,CY_REVBUD,B,0,4.40e+06,0,CDAI000000
4701,AUDA000008,401000,0,650020,V55_TOTAL,B,0,1.46e+04,1LIDC2PDBT,CDAI000000
4702,AUDA000008,401000,0,601,PY1_ACTUAL,B,0,9.90e+05,0,CDAI000000
4703,AUDA000008,401000,0,E,V55_TOTAL,B,0,8.30e+01,1LIDC2GENF,CDAI000000
4704,AUDA000008,401000,0,E,V55_TOTAL,B,0,1.46e+04,1LIDC2PDBT,CDAI000000
4705,AUDA000008,401000,0,454200,V55_TOTAL,B,0,2.50e+04,0,CDAI000000
4706,AUDA000008,401000,0,549000,V55_TOTAL,B,0,5.00e+03,0,CDAI000000
4679,AUDA000008,401000,0,439100,CY_REVBUD,B,0,3.84e+05,0,CDAI000000
4707,AUDA000008,401000,0,65,PY1_ACTUAL,B,0,5.80e+05,7MF2AU0001,CDAI000000
4697,AUDA000008,401000,0,FNDXFER,PY1_ACTUAL,B,0,1.33e+04,1LIDC2PDBT,CDAI000000

In [163]:
# select index and column values
# proj = grnt['proj']
fund = grnt['fund'].head()
fund

4423    311503
4720    401000
4721    401000
4710    401000
4668    401000
Name: fund, dtype: int64

In [161]:
# how to select just the columns you want from a dataframe
# : is a slice, in this case all of them, head to shorten for now
grnt.loc[1:10,['proj','fund']] # first 10
# grnt.loc[:,['proj','fund']]  # all

          proj    fund
1   3MFTS2AT01  100000
2   7AT2WA0001  100000
3   3MFFA2AT01  100000
4            0  100000
5   3MFRM2AT01  100000
6            0  100000
7   7AT2PL0001  100000
8   7AT2PK0001  100000
9   3MFTS2AT01  100000
24  3MFTS2AT01  100000
10  7AT2HC0001  100000

In [126]:
grnt.loc[1:10,['proj','fund']] # first 10

          proj    fund
1   3MFTS2AT01  100000
2   7AT2WA0001  100000
3   3MFFA2AT01  100000
4            0  100000
5   3MFRM2AT01  100000
6            0  100000
7   7AT2PL0001  100000
8   7AT2PK0001  100000
9   3MFTS2AT01  100000
24  3MFTS2AT01  100000
10  7AT2HC0001  100000

In [94]:
grnt[0:4] # rows 0-3 aka 4 of them

,org,fund,program,object,col,mut,mud,data,proj,grnt
4423,AUDA000007,311503,0,45,PY1_ACTUAL,B,0,4.50e+03,0,CDAI000000
4720,AUDA000008,401000,0,651,PY1_ACTUAL,B,0,2.54e+04,3MFEB2AU01,CDAI000000
4721,AUDA000008,401000,0,500,PY1_ACTUAL,B,0,3.33e+06,0,CDAI000000
4710,AUDA000008,401000,0,650,V55_TOTAL,B,0,1.46e+04,1LIDC2PDBT,CDAI000000

In [169]:
# select all rows by 1. column header and 2. matched string
some_value = 'AUDA000007'
AUDA000007 = df.loc[df['org'] == some_value]
AUDA000007.head(20)

,org,fund,program,object,col,mut,mud,data,proj,grnt
4419,AUDA000007,201000,0,500,PY1_ACTUAL,B,0,78074.0,0,CDAI000000
4420,AUDA000007,311500,0,454,PY1_ACTUAL,B,0,11063.0,0,CDAI000000
4421,AUDA000007,201000,0,57,CY_REVBUD,B,0,78968.0,0,CDAI000000
4422,AUDA000007,311505,0,454,PY1_ACTUAL,B,0,4330.0,0,CDAI000000
4423,AUDA000007,311503,0,45,PY1_ACTUAL,B,0,4495.0,0,CDAI000000
4424,AUDA000007,311501,0,454,PY1_ACTUAL,B,0,4431.0,0,CDAI000000
4425,AUDA000007,201000,0,454,V55_TOTAL,B,0,750.0,0,CDAI000000
4426,AUDA000007,311504,0,454,PY1_ACTUAL,B,0,1830.0,0,CDAI000000
4427,AUDA000007,311504,0,R,PY1_ACTUAL,B,0,1830.0,0,CDAI000000
4428,AUDA000007,201000,0,454200,PY1_ACTUAL,B,0,442.0,0,CDAI000000
4429,AUDA000007,311504,0,45,PY1_ACTUAL,B,0,1830.0,0,CDAI000000
4430,AUDA000007,311506,0,MISC,PY1_ACTUAL,B,0,974.0,0,CDAI000000
4431,AUDA000007,201000,0,BEGBAL,V55_TOTAL,B,0,78589.0,0,CDAI000000
4432,AUDA000007,201000,0,GTR,V55_TOTAL,B,0,750.0,0,CDAI000000
4433,AUDA000007,201000,0,651402,PY1_ACTUAL,B,0,546.0,3MFEB2AU01,CDAI000000
4434,AUDA000007,201000,0,454,CY_REVBUD,B,0,650.0,0,CDAI000000
4435,AUDA000007,311504,0,454200,PY1_ACTUAL,B,0,1822.0,0,CDAI000000
4436,AUDA000007,201000,0,MISC,CY_REVBUD,B,0,850.0,0,CDAI000000
4437,AUDA000007,311502,0,MISC,PY1_ACTUAL,B,0,7904.0,0,CDAI000000
4438,AUDA000007,201000,0,E,PY1_ACTUAL,B,0,78074.0,0,CDAI000000