In [1]:
%matplotlib inline
import pandas as pd
fname = "../data/SS_DATA.txt"

In [49]:
df = pd.read_csv(fname, sep='\t', header=0)    # narray, index, columns
df

,org,fund,program,object,col,mut,mud,data,proj,grnt
0,ATAT000001,100000,0,524,V55_TOTAL,B,0,5238.0,0,LALS000000
1,ATAT000001,100000,0,651532,CY_REVBUD,B,0,149494.0,3MFTS2AT01,LALS000000
2,ATAT000001,100000,0,642233,PY1_ACTUAL,B,0,351021.0,7AT2WA0001,LALS000000
3,ATAT000001,100000,0,BUEXP,V55_TOTAL,B,AT_07,227688.0,3MFFA2AT01,LALS000000
4,ATAT000001,100000,0,521100,PY1_ACTUAL,B,0,2760.0,0,LALS000000
5,ATAT000001,100000,0,651602,CY_REVBUD,B,0,63210.0,3MFRM2AT01,LALS000000
6,ATAT000001,100000,0,EMS,V55_TOTAL,B,AT_05,75000.0,0,LALS000000
7,ATAT000001,100000,0,629011,PY1_ACTUAL,B,0,466743.0,7AT2PL0001,LALS000000
8,ATAT000001,100000,0,R,V55_TOTAL,B,0,4843.0,7AT2PK0001,LALS000000
9,ATAT000001,100000,0,6515,PY1_ACTUAL,B,0,355211.0,3MFTS2AT01,LALS000000
10,ATAT000001,100000,0,642,CY_REVBUD,B,0,240164.0,7AT2HC0001,LALS000000
11,ATAT000001,100000,0,65,V55_TOTAL,B,0,169608.0,3MFRM2AT01,LALS000000
12,ATAT000001,100000,0,6516,V55_TOTAL,B,0,169608.0,3MFRM2AT01,LALS000000
13,ATAT000001,100000,0,642233,CY_REVBUD,B,0,1018715.0,7AT2ES0001,LALS000000
14,ATAT000001,100000,0,6422,V55_TOTAL,B,0,242173.0,7AT2HC0001,LALS000000
15,ATAT000001,100000,0,549000,V55_TOTAL,B,0,28734.0,0,LALS000000
16,ATAT000001,100000,0,542400,CY_REVBUD,B,0,4113.0,0,LALS000000
17,ATAT000001,701000,0,549,PY1_ACTUAL,B,0,-4.0,0,LALS000000
18,ATAT000001,100000,0,BUEXP,PY1_ACTUAL,B,0,-100.0,0,LAASCA0000
19,ATAT000001,100000,0,FTE_TOT,V55_TOTAL,B,AT_01,1.0,0,LALS000000
20,ATAT000001,100000,0,651520,PY1_ACTUAL,B,0,1552.0,3MFTS2AT01,LALS000000
21,ATAT000001,100000,0,E,V55_TOTAL,B,AT_06,152346.0,0,LALS000000
22,ATAT000001,100000,0,487210,V55_TOTAL,B,AT_10,65351.0,0,LALS000000
23,ATAT000001,100000,0,651211,PY1_ACTUAL,B,0,1640.0,3MFPD2AT01,LALS000000
24,ATAT000001,100000,0,651512,CY_REVBUD,B,0,30425.0,3MFTS2AT01,LALS000000
25,ATAT000001,100000,0,651522,PY1_ACTUAL,B,0,82969.0,3MFTS2AT01,LALS000000
26,ATAT000001,100000,0,487210,V55_TOTAL,B,AT_04,0.0,0,LALS000000
27,ATAT000001,100000,0,E,PY1_ACTUAL,B,0,-100.0,0,LAASCA0000
28,ATAT000001,100000,0,48,V55_TOTAL,B,AT_05,75000.0,0,LALS000000
29,ATAT000001,100000,0,514540,V55_TOTAL,B,AT_01,5196.0,0,LALS000000
...,...,...,...,...,...,...,...,...,...,...
338629,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_09,0.0,0,CDED000000
338630,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_08,-40956.0,0,CDED000000
338631,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_07,-111923.0,0,CDED000000
338632,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_06,0.0,0,CDED000000
338633,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_05,0.0,0,CDTR000000
338634,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_04,30000.0,0,CDED000000
338635,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_03,0.0,0,CDTR000000
338636,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_03,0.0,0,CDED000000
338637,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_02,0.0,0,CDED000000
338638,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,ZD_01,0.0,0,CDED000000
338639,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,424806.0,0,CDTREN0000
338640,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,1339845.0,0,CDTRBD0000
338641,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,0.0,0,CDTR000000
338642,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,1318977.0,0,CDEDWF0000
338643,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,318447.0,0,CDEDLI0000
338644,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,934162.0,0,CDEDBD0000
338645,ZDFS000001,100000,0,BUEXP,V55_TOTAL,B,0,1188071.0,0,CDED000000
338646,ZDFS000001,100000,0,BUEXP,PY1_ACTUAL,B,0,1687896.0,0,CDTR000000
338647,ZDFS000001,100000,0,BUEXP,PY1_ACTUAL,B,0,226144.0,0,CDEOWF0000
338648,ZDFS000001,100000,0,BUEXP,PY1_ACTUAL,B,0,3383484.0,0,CDED000000
338649,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1015430.0,0,CDTREN0000
338650,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1398327.0,0,CDTRBD0000
338651,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,-49636.0,0,CDTR000000
338652,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1248190.0,0,CDEDWF0000
338653,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,347013.0,0,CDEDLI0000
338654,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,28000.0,0,CDEDCONP00
338655,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,0.0,0,CDEDCO0000
338656,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,140000.0,0,CDEDCCNP00
338657,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1728026.0,0,CDEDCC0000
338658,ZDFS000001,100000,0,BUEXP,CY_REVBUD,B,0,1200500.0,0,CDEDBD0000

In [11]:
df.describe() # all except fund & data are categorical

                fund          data
count  338659.000000  3.386590e+05
mean   346678.754960  3.917305e+05
std    241952.676284  6.151873e+06
min    100000.000000 -5.014369e+08
25%    100000.000000  2.700000e+02
50%    217001.000000  4.787000e+03
75%    601000.000000  4.371300e+04
max    802000.000000  3.282377e+08

In [50]:
df.dtypes # fund is an int, data a float

org         object
fund         int64
program     object
object      object
col         object
mut         object
mud         object
data       float64
proj        object
grnt        object
dtype: object

In [51]:
df.count() # rows 338659

org        338659
fund       338659
program    338659
object     338659
col        338659
mut        338659
mud        338659
data       338659
proj       338659
grnt       338659
dtype: int64

In [52]:
len(df.columns) # 10 columns

10

#### Now I select by column and string match for a particular organization code "ATAT000001"

In [48]:
ATAT000001 = df[df.org == "ATAT000001"]
# ATAT000001.head()
ATAT000001

,org,fund,program,object,col,mut,mud,data,proj,grnt
0,ATAT000001,100000,0,524,V55_TOTAL,B,0,5238.0,0,LALS000000
1,ATAT000001,100000,0,651532,CY_REVBUD,B,0,149494.0,3MFTS2AT01,LALS000000
2,ATAT000001,100000,0,642233,PY1_ACTUAL,B,0,351021.0,7AT2WA0001,LALS000000
3,ATAT000001,100000,0,BUEXP,V55_TOTAL,B,AT_07,227688.0,3MFFA2AT01,LALS000000
4,ATAT000001,100000,0,521100,PY1_ACTUAL,B,0,2760.0,0,LALS000000
5,ATAT000001,100000,0,651602,CY_REVBUD,B,0,63210.0,3MFRM2AT01,LALS000000
6,ATAT000001,100000,0,EMS,V55_TOTAL,B,AT_05,75000.0,0,LALS000000
7,ATAT000001,100000,0,629011,PY1_ACTUAL,B,0,466743.0,7AT2PL0001,LALS000000
8,ATAT000001,100000,0,R,V55_TOTAL,B,0,4843.0,7AT2PK0001,LALS000000
9,ATAT000001,100000,0,6515,PY1_ACTUAL,B,0,355211.0,3MFTS2AT01,LALS000000
10,ATAT000001,100000,0,642,CY_REVBUD,B,0,240164.0,7AT2HC0001,LALS000000
11,ATAT000001,100000,0,65,V55_TOTAL,B,0,169608.0,3MFRM2AT01,LALS000000
12,ATAT000001,100000,0,6516,V55_TOTAL,B,0,169608.0,3MFRM2AT01,LALS000000
13,ATAT000001,100000,0,642233,CY_REVBUD,B,0,1018715.0,7AT2ES0001,LALS000000
14,ATAT000001,100000,0,6422,V55_TOTAL,B,0,242173.0,7AT2HC0001,LALS000000
15,ATAT000001,100000,0,549000,V55_TOTAL,B,0,28734.0,0,LALS000000
16,ATAT000001,100000,0,542400,CY_REVBUD,B,0,4113.0,0,LALS000000
17,ATAT000001,701000,0,549,PY1_ACTUAL,B,0,-4.0,0,LALS000000
18,ATAT000001,100000,0,BUEXP,PY1_ACTUAL,B,0,-100.0,0,LAASCA0000
19,ATAT000001,100000,0,FTE_TOT,V55_TOTAL,B,AT_01,1.0,0,LALS000000
20,ATAT000001,100000,0,651520,PY1_ACTUAL,B,0,1552.0,3MFTS2AT01,LALS000000
21,ATAT000001,100000,0,E,V55_TOTAL,B,AT_06,152346.0,0,LALS000000
22,ATAT000001,100000,0,487210,V55_TOTAL,B,AT_10,65351.0,0,LALS000000
23,ATAT000001,100000,0,651211,PY1_ACTUAL,B,0,1640.0,3MFPD2AT01,LALS000000
24,ATAT000001,100000,0,651512,CY_REVBUD,B,0,30425.0,3MFTS2AT01,LALS000000
25,ATAT000001,100000,0,651522,PY1_ACTUAL,B,0,82969.0,3MFTS2AT01,LALS000000
26,ATAT000001,100000,0,487210,V55_TOTAL,B,AT_04,0.0,0,LALS000000
27,ATAT000001,100000,0,E,PY1_ACTUAL,B,0,-100.0,0,LAASCA0000
28,ATAT000001,100000,0,48,V55_TOTAL,B,AT_05,75000.0,0,LALS000000
29,ATAT000001,100000,0,514540,V55_TOTAL,B,AT_01,5196.0,0,LALS000000
...,...,...,...,...,...,...,...,...,...,...
812,ATAT000001,100000,0,64,PY1_ACTUAL,B,0,2616193.0,7AT2MF0001,LALS000000
813,ATAT000001,100000,0,514700,V55_TOTAL,B,AT_05,0.0,0,LALS000000
814,ATAT000001,100000,0,487210,V55_TOTAL,B,AT_06,82966.0,0,LALS000000
815,ATAT000001,100000,0,514,PY1_ACTUAL,B,0,2548550.0,0,LALS000000
816,ATAT000001,100000,0,43,V55_TOTAL,B,AT_03,0.0,0,LALS000000
817,ATAT000001,100000,0,642233,PY1_ACTUAL,B,0,466743.0,7AT2PL0001,LALS000000
818,ATAT000001,100000,0,514100,V55_TOTAL,B,AT_06,16068.0,0,LALS000000
819,ATAT000001,100000,0,514510,CY_REVBUD,B,0,260764.0,0,LALS000000
820,ATAT000001,100000,0,64,CY_REVBUD,B,0,1018715.0,7AT2ES0001,LALS000000
821,ATAT000001,100000,0,532,CY_REVBUD,B,0,143172.0,0,LALS000000
822,ATAT000001,100000,0,642,CY_REVBUD,B,0,500952.0,7AT2PL0001,LALS000000
823,ATAT000001,100000,0,511302,PY1_ACTUAL,B,0,902.0,0,LALS000000
824,ATAT000001,100000,0,R,V55_TOTAL,B,AT_10,120000.0,0,LALS000000
825,ATAT000001,100000,0,524,PY1_ACTUAL,B,0,1265.0,0,LALS000000
826,ATAT000001,100000,0,532000,PY1_ACTUAL,B,0,33716.0,0,LALS000000
827,ATAT000001,100000,0,64,PY1_ACTUAL,B,0,223732.0,7AT2HC0001,LALS000000
828,ATAT000001,100000,0,651510,CY_REVBUD,B,0,1136.0,3MFTS2AT01,LALS000000
829,ATAT000001,100000,0,549,V55_TOTAL,B,0,28734.0,0,LALS000000
830,ATAT000001,100000,0,629,PY1_ACTUAL,B,0,223732.0,7AT2DR0001,LALS000000
831,ATAT000001,100000,0,549000,V55_TOTAL,B,AT_09,90000.0,0,LALS000000
832,ATAT000001,100000,0,651303,V55_TOTAL,B,0,341.0,3MFFA2AT01,LALS000000
833,ATAT000001,100000,0,642,V55_TOTAL,B,0,1026247.0,7AT2ES0001,LALS000000
834,ATAT000001,100000,0,542,CY_REVBUD,B,0,8605.0,0,LALS000000
835,ATAT000001,100000,0,6512,V55_TOTAL,B,0,58955.0,3MFPD2AT01,LALS000000
836,ATAT000001,100000,0,651201,V55_TOTAL,B,0,4592.0,3MFPD2AT01,LALS000000
837,ATAT000001,100000,0,R,V55_TOTAL,B,0,379501.0,7AT2WA0001,LALS000000
838,ATAT000001,100000,0,POS,V55_TOTAL,B,AT_01,1.0,0,LALS000000
839,ATAT000001,100000,0,629,PY1_ACTUAL,B,0,4475.0,7AT2PK0001,LALS000000
840,ATAT000001,100000,0,IAREV,CY_REVBUD,B,0,1018715.0,7AT2ES0001,LALS000000
841,ATAT000001,100000,0,6512,CY_REVBUD,B,0,78864.0,3MFPD2AT01,LALS000000

In [27]:
# df.columns

In [28]:
# df.describe()

In [29]:
# e.g. 0.01
pd.set_option('display.precision', 2)

In [31]:
# five.describe()

In [32]:
df.T # Transpose rows and columns

,0,1,2,3,4,5,6,7,8,9,...,338649,338650,338651,338652,338653,338654,338655,338656,338657,338658
org,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,ATAT000001,...,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001,ZDFS000001
fund,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000,...,100000,100000,100000,100000,100000,100000,100000,100000,100000,100000
program,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
object,524,651532,642233,BUEXP,521100,651602,EMS,629011,R,6515,...,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP,BUEXP
col,V55_TOTAL,CY_REVBUD,PY1_ACTUAL,V55_TOTAL,PY1_ACTUAL,CY_REVBUD,V55_TOTAL,PY1_ACTUAL,V55_TOTAL,PY1_ACTUAL,...,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD,CY_REVBUD
mut,B,B,B,B,B,B,B,B,B,B,...,B,B,B,B,B,B,B,B,B,B
mud,0,0,0,AT_07,0,0,AT_05,0,0,0,...,0,0,0,0,0,0,0,0,0,0
data,5.2e+03,1.5e+05,3.5e+05,2.3e+05,2.8e+03,6.3e+04,7.5e+04,4.7e+05,4.8e+03,3.6e+05,...,1e+06,1.4e+06,-5e+04,1.2e+06,3.5e+05,2.8e+04,0,1.4e+05,1.7e+06,1.2e+06
proj,0,3MFTS2AT01,7AT2WA0001,3MFFA2AT01,0,3MFRM2AT01,0,7AT2PL0001,7AT2PK0001,3MFTS2AT01,...,0,0,0,0,0,0,0,0,0,0
grnt,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,LALS000000,...,CDTREN0000,CDTRBD0000,CDTR000000,CDEDWF0000,CDEDLI0000,CDEDCONP00,CDEDCO0000,CDEDCCNP00,CDEDCC0000,CDEDBD0000